@charset "UTF-8";

/* 공통 부분
------------------------------- */

html {
  font-size: 100%;
}

body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* BoardPage
------------------------------- */

.contents {
  margin: 150px auto;
}

#boardHead {
  display: table;
}

#boardHead * {
  display: table-cell;
}

#boardHead h1 {
  font-size: 30px;
  width: 800px;
}

#boardHead h4 {
  width: 100px;
}

hr {
  background-color: #34314c;
  height: 10px;
}

.boardIcons {
  float: right;
  margin-top: 15px;
}

.icon {
  width: 30px;
}

#boardContents {
  clear: both;
  margin-top: 150px;
  margin-bottom: 200px;
}

#updateBtn,
#deleteBtn {
  float: right;
  width: 80px;
  height: 40px;
  margin-right: 10px;
  border-radius: 10%;
  border: none;
  font-size: 1.1rem;
}

#updateBtn {
  background-color: #34314c;
  color: white;
}

#deleteBtn {
  background-color: #ff7473;
  color: black;
}

h1 {
  clear: both;
}

textarea {
  resize: none;
}

textarea[id^="reply"] {
  border: none;
  text-align: center;
}

button:hover {
  cursor: pointer;
}
