@charset "UTF-8";

/* 공통 부분
------------------------------- */

html {
  font-size: 100%;
}

body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* Contents
------------------------------- */

.contents {
  margin: 150px auto;
}

hr {
  background-color: #34314c;
  height: 10px;
  margin-bottom: 50px;
}

select {
  width: 160px;
  height: 50px;
  margin-right: 10px;
}

input {
  width: 910px;
  height: 45px;
}

textarea {
  margin-top: 30px;
  width: 1090px;
  height: 700px;
  margin-bottom: 30px;
}

select,
input,
textarea {
  border-radius: 5px;
  border: 1px solid gray;
}

#submit,
#reset {
  float: right;
  width: 100px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10%;
  border: none;
}

#submit {
  background-color: #34314c;
  color: white;
}

#reset {
  background-color: #ff7473;
  color: black;
}
