<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GameMapper">

	<select id="newGameListSelect" resultType="GameDTO">
		SELECT gameNo, gameName, gameImage, gamePrice, gameContent, gameContent, gameGenre, CONCAT('(',DATE_FORMAT(gameReleasedDate,'%Y'),')') as gameReleasedDate, gameCategory
		FROM game
		ORDER BY gameReleasedDate DESC
		LIMIT 10
	</select>
	
	<select id="saleGameListSelect" resultType="GameDTO">
		SELECT gameNo, gameName, gameImage, gamePrice, gameContent, gameContent, gameGenre, CONCAT('(',DATE_FORMAT(gameReleasedDate,'%Y'),')') as gameReleasedDate, gameCategory
		FROM game
		WHERE discountRate != 0
		ORDER BY gameReleasedDate DESC
		LIMIT 10
	</select>

	<select id="recommendGameListSelect" parameterType="int" resultType="GameDTO">
		SELECT game.gameNo, game.gameName, game.gameImage,
		game.gamePrice, game.gameContent, game.gameContent, game.gameGenre, CONCAT('(',DATE_FORMAT(gameReleasedDate,'%Y'),')') as gameReleasedDate, game.gameCategory
		FROM game, rate
		WHERE game.gameNo = rate.gameNo
		ORDER BY (rate.gameScore / rate.rateCount) DESC, game.gameReleasedDate DESC
		LIMIT #{limit}
	</select>

	<select id="recommendUserTagGameListSelect" parameterType="string" resultType="GameDTO">
		SELECT game.gameNo, game.gameName, game.gameImage,
		game.gamePrice, game.gameContent, game.gameContent, game.gameGenre, CONCAT('(',DATE_FORMAT(gameReleasedDate,'%Y'),')') as gameReleasedDate, game.gameCategory
		FROM game, rate, member
		WHERE game.gameNo = rate.gameNo
		AND game.gameGenre REGEXP(IFNULL(REPLACE(member.mbrGenre, ',', '|'), '*'))
		AND member.mbrId = #{mbrId}
		ORDER BY rate.gameScore DESC, game.gameReleasedDate DESC
		LIMIT 10
	</select>

	<select id="tagGameListSelect" resultType="GameDTO">
		SELECT game.gameNo, game.gameName, game.gameImage,
		game.gamePrice, game.gameContent, game.gameContent, game.gameGenre, CONCAT('(',DATE_FORMAT(gameReleasedDate,'%Y'),')') as gameReleasedDate, game.gameCategory
		FROM game, rate
		WHERE game.gameNo = rate.gameNo
		AND game.gameGenre REGEXP(
		SELECT DISTINCT CONCAT(
			<foreach collection="list" item="item"
			open="(SELECT genre.gameCategory FROM genre WHERE genreId = "
	        		close="))"
			separator="),'|',(SELECT genre.gameCategory FROM genre WHERE genreId = ">
           			#{item}
        			</foreach>
		FROM genre)
		ORDER BY rate.gameScore DESC, game.gameReleasedDate DESC
		LIMIT 5
	</select>

	<select id="detailGameSelect" resultType="GameDTO">
		SELECT *
		FROM game
		WHERE gameNo = #{gameNo}
	</select>

	<select id="tagGameListChoice" resultType="GameDTO">
		SELECT gameCategory
		FROM genre
	</select>

	<!--연관 게임 리스트 -->
	<select id="relatedGameList" parameterType="Hashmap" resultType="GameDTO">
		SELECT *
		FROM game USE INDEX (game_category),rate
		WHERE game.gameNo = rate.gameNo
		AND game.gameNo != #{gameNo}
		AND game.gameCategory = #{gameCategory}
		ORDER BY rate.gameScore DESC, game.gameReleasedDate DESC
		LIMIT 5
	</select>
	
	<!-- 태그 상세 페이지 -->
	<select id="tagDetailSelect" parameterType="string" resultType="GameDTO">
		SELECT gameNo,gameName,gameImage,gameGenre,DATE_FORMAT(gameReleasedDate,'%Y-%m-%d') as gameReleasedDate
		FROM game USE INDEX (game_genre)
		WHERE gameGenre LIKE CONCAT('%',#{gameCategory},'%');
	</select>
	
	<select id="gameSearch" parameterType="string" resultType="GameDTO">
		SELECT gameNo,gameName,gameImage,gameGenre,DATE_FORMAT(gameReleasedDate,'%Y-%m-%d') as gameReleasedDate
		FROM game USE INDEX (game_name)
		WHERE gameName LIKE CONCAT('%',#{search},'%');
	</select>
	
	<select id="rateSelect" parameterType="string" resultType="RateDTO">
		SELECT *
		FROM rate
		WHERE gameNo = #{gameNo}
	</select>
</mapper>
